.my-text-center {
  text-align: center;
}

.my-main-bg {
  background-image: url('OF8LFJ0.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.my-pt-40 {
  padding-top: 40vh;
}

.my-pb-20 {
  padding-bottom: 20vh;
}

.my-p-2 {
  padding: 2vw;
}