.my-w-27 {
width: 27vw;
}

.my-d-inline-block {
  display: inline-block;
}

#artists-list .my-mb-10 {
  margin-bottom: 10vh;
}

.my-orange {
  color: orangered;
}

.my-green {
  color: #579f94;
  /* color: green; */
}

.icon-button:hover {
  cursor: pointer;
}
